
aside {
    margin: 10px;
    justify-self: center;
    align-self: center;
    height: 200px;
    background: rgba(131, 126, 126, 0.226);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    z-index: 1;
    align-content: center;
    text-wrap: wrap;
    color: aliceblue;
    backdrop-filter: blur(2px);
    border-top: 4px solid blueviolet;
    filter: drop-shadow(0 0 2em #61dafbaa);
    transition: all .5s ease;
}
aside:hover,form:hover{
 box-shadow: 1px 1px 3px greenyellow, -1px -1px 3px blueviolet;}

form{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(109, 108, 108, 0.295);
    width: clamp(40%,70%, 400px);
    border-radius: 10px;
    padding: 5px;
     position: relative;
    z-index: 1;
      backdrop-filter: blur(2px);
      filter: drop-shadow(0 0 2em #61dafbaa);
      color: aliceblue;
      border-top: 4px solid blueviolet;
          transition: all .5s ease;
   

      
}
form:hover{
    transform: scale(1.01);
}

input{
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.338);
    outline: none;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    padding-left: 5px;
   

}

input:hover{
    box-shadow: 1px 1px 3px greenyellow, -1px -1px 3px blueviolet;
}
input::placeholder {
  color: #dbd9d9;
}

.report {
    text-align: center;
    color: red;
    font-weight: bolder;
}