.dedicatedSong{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.backFromSong {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-top: 30px;

}
iframe {
    display: block;
    margin: 30px auto 20px;
    box-shadow: 2px 2px 4px red, -2px -2px 4px white;
    border-radius: 10px;
}