.dedicatedSong{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.backFromSong {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-top: 0px;

}
/* iframe {
    display: block;
    margin: 30px auto 20px;
    box-shadow: 2px 2px 4px red, -2px -2px 4px white;
    border-radius: 10px;
    width: clamp(220px,40vw,600px);
    height: clamp(130px,35vw,300px);
    padding: 0px;
    
} */

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin:10vh auto 0px;
  cursor: pointer;


}

.video-wrapper >.video {

  display: block;
        margin: 50px auto 20px;
    box-shadow: 2px 2px 4px red, -2px -2px 4px white;
    border-radius: 10px;
    width: clamp(220px,41vw,600px);
    height: clamp(130px,39vw,300px);
    padding: 0px;
}

.play-button {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* click passes to wrapper */
}
.play-button {
  transition: opacity 0.3s ease;
}


