.loveReasonContainer {
display: flex;
background: rgba(0, 0, 0, 0.591) !important;
width: clamp(10%, 95% , 100%);
text-align: center;
justify-content: center;
align-items: center;
align-content: center;
border-radius: 20px;
margin-bottom: 5px;
border-top: 4px solid blueviolet;
overflow: hidden;
height: 25vh;
justify-self: center;



}

.loveReason{
    display: flex;
    position: relative;
    color: rgba(248, 248, 248, 0.863) !important;
    text-align: center;
     background-color: rgba(255, 255, 255, 0.473);
     width: clamp(10%, 80% , 90%);
     height: 60px;
     align-items: center;
     justify-content: center; border-radius: 30px;
     filter: drop-shadow(0 0 2em rgba(221, 5, 245, 0.717));
    font-size: 1.9rem;
    overflow: hidden;
    
}
