body{
  background-color: brown;
}
button:hover {
 cursor: pointer;
}
button {
  text-transform: capitalize;
}
.hide {
    display: none;
}
.tworem{
    font-size: 2rem !important;

}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
    backdrop-filter: blur(5px);
}
.fullPage {
    display: flex;
   
    height: 100vh;
    width: 100%;
    margin: 0px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    
}
.fullPage, .background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}


.title {
    color: aliceblue;
    font-size: clamp(1rem, 3rem , 5rem) !important;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bolder;
    margin: 10px 0px 0px;

}
.subTitle {
    font-size: 1.8rem;
    font-style: oblique;
    text-transform: capitalize;
    margin-bottom: 0px;

}

.subTitle ,.title{
  color: aliceblue;
    text-align: center;
  font-family: "Georgia", serif;
  letter-spacing: 1px;
}


.ceaveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
 .abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.nameColor {
  background: linear-gradient(90deg,rgb(43, 192, 226),rgb(99, 4, 193));
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

